/* styles.css */
/*Created by ChingYueh*/
.recipe {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.recipe img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.recipe h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.recipe p {
    margin-bottom: 10px;
}

.recipe ul {

    margin-bottom: 10px;
}

.recipe li {
    list-style-type: disc;
    margin-left: 20px;
}